/***********************
GENERAL
***********************/

.name{
    margin: 10px;
}

ul {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

li{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    position: relative;
}

#full-container {
    height: 100%;
    padding-top: 45px;
    overflow: auto;
}

/***********************
LANDING SECTION
***********************/

.section-launch {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    padding-left: 4em;
    padding-right: 3em;
    background-color: aqua;
}

.landing-text {
    padding-top: 2.5em;
    font-size: 2em;
    text-align: left;
    line-height: 3em
}

.portrait {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	width: 200px;
	height: 200px;
}


/*THISIS THE CSS FLIP BRUHHHH*/

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 580px;
	height: 290px;
    text-align: center;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
    width: 100%;
    align-content: center;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.back-logo {
			position: absolute;
            align-content: center;
			top: 20px;
			padding: 0 auto;
			width: 160px;
			height: 117px;
		}

.back-title {
			font-weight: bold;
			color: #111;
			position: absolute;
			top: 180px;
			left: 0;
			right: 0;
			text-align: center;
			font-size: 22px;
		}

		.back p {
			position: absolute;
			bottom: 40px;
			left: 0;
			right: 0;
			text-align: center;
			padding: 0 20px;
			font-size: 18px;
		}